body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    text-decoration: none;
    list-style-type: none;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }
  
  ul {
    margin: 0;
  }
  
  img {
    display: block;
  }
  
  ul {
    list-style-type: none;
  }
  
  .title-header {
    border-bottom: 1px solid #e7e9fc
  }
  
  .container-header {
    display: flex;
    height: 72px;
    justify-content: space-between;
    align-items: center;
  }
  
  .container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .container-header {
    display: flex;
    
  }
  
  .title-navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .title-name {
    display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration-line: none;
  }
  .title-name:active {
    color: #404bbf;
  }
  
  .title-name-part {
    color: #2e2f42;
  }
  
  .title-name-list {
    display: flex;
    align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
    gap: 40px;
    padding-left: 0;
  }
  
  .title-name-link {
    padding: 24px 0;
    font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  }
  
  .title-name-link:hover {
    color: #404bbf;
  }
  
  .title-name-link:focus {
    color: #404bbf;
  }
  
  .address-contact-list {
    padding-left: 0;
    display: flex;
    margin: auto;
    gap: 40px;
  
  }
  
  .address-contact {
    font-style: normal;
  }
  
  .address-contact-link {
  
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
  }
  .address-contact-link:hover {
    color: #404bbf;
  }
  .address-contact-link:focus {
    color: #404bbf;
  }
  
  .section-title {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/peopleoffice1.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
  }
  
  .section-title-name {
    -webkit-text-stroke: 1px black;
  margin: 0 auto 40px auto;
    max-width: 496px;
    font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  }
  
  .button-type {
    border: 1px solid #000;
  margin: auto;
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background: #4d5ae5;
  }
  .button-type:hover {
  background-color: #404bbf;
  }
  .button-type:focus {
    background-color: #404BBF;
  }
  
  .section-title-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 120px 0;
    margin: 0;
  }
  
  .main-title-list {
    padding-left: 0;
    display: flex;
    gap: 24px;
  }
  
  .main-title-list-li {
    width: calc((100% - 72px) / 4);
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .main-title-page {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  
  .main-title-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  
  .main-title-section {
    background-color: #F4F4FD;
    padding: 120px 0;
  }
  
  .main-title-team {
    margin-bottom: 72px;
    color: #2e2f42;
    font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  }
  
  .main-title-team-ul {
    margin: auto;
    padding-left: 0;
    display: flex;
    gap: 24px;
  }
  
  .main-title-team-list {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
  }
  
  .name-person-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 32px 0;
  }
  
  .name-persons {
    text-align: center;
    margin-bottom: 8px;
    color: #2e2f42;
    font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  }
  
  .job-persons {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    }
  
    .section-portolio {
        padding-top: 120px; 
        padding-bottom: 120px;
    }
  
    .main-portfolio {
        margin-bottom: 72px;
        font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
    }
  
    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
        margin: 0;
        padding-left: 0;
    }
  
    .photo-images {
        width: calc((100% - 48px) / 3);
  
    }
  
    .photo-images > img {
        background: #fff;
    }
  
    .image-container {
      display: flex;
      align-items: flex-start;
      justify-content: center;
  flex-direction: column;
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
  
    }
  
    .main-portfolio-title {
        margin-bottom: 8px;
        color: #2e2f42;
        font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    }
  
    .main-portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
    }
  
    .footer-page {
        background-color: #2e2f42;
        padding: 100px 0;
    }
    
    .footer-name {
        display: inline-block;
        margin-bottom: 16px;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    }
    
    .part-title-studio {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
    }
    
    .footer-text {
        max-width: 264px;
        font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    }
  
  
  
  